version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile # ← Dockerfileのファイルの内容をみて組み立てを行うよう指示
    container_name: laravel_app
    volumes:
      - ./laravel:/var/www/html/laravel   # ← ローカルに ./laravel を作る！
    networks:
      - laravel
    depends_on:
      - db

  web:
    image: nginx:latest
    container_name: laravel_web
    ports:
      - "8080:80"
    volumes:
      - ./laravel:/var/www/html/laravel
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: laravel_db
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:

volumes:
  db_data: